<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8"><title>Daily Excuse</title>
    <meta name="description" content="Today's excuse to not attend the daily meeting">
    <meta name="keywords" content="daily,meeting,excuse,daily meeting">
    <meta name="author" content="Jean-Francois Smigielski">
    <meta name="theme-color" content="#FFF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="https://excuse.wadef.uk/">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="mask-icon" type="image/png" href="/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@JFSmigielski">
    <meta name="twitter:creator" content="@JFSmigielski">
    <meta property="og:site_name" content="Daily Excuse">
    <meta property="og:title" content="Daily Excuse">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://excuse.wadef.uk/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Today's excuse to not attend the daily meeting">
    <meta property="og:image" content="/favicon.png">
    <meta property="fb:admins" content="jf.smigielski">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quicksand">
    <style>
        body { margin: 0; padding: 0; background-color: #222; }
        main { text-align: center;  margin: 0; padding: 0; }
        h1, a { text-align: center; font-family: 'Quicksand'; }
        h1 { font-weight: inherit; font-size:7vw; color: #4681b3; top:auto; vertical-align: middle; }
        a { text-align: center; width: 100%; font-size:3vw; color: lightgray; text-decoration: none; margin: auto; display: block; }
        p, footer { visibility: hidden; }
    </style>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<main>
    <h1>Wanna skip that meeting?</h1>
    <a href="/ooo">👉 Out Of Office</a>
    <a href="/meeting">👉Daily Meeting</a>
    <p>
        Your daily enterprise-grade excuse to not attend your daily meeting. Use with parsimony.
        It's very important to vary the excuses to remain credible and never let any sort of repetition to take place.
        Some excuses are real, the rest is inspired by real cases.
    </p>
</main>
<footer>
    Code hosted on https://github.com/jfsmig/daily,
    Hosted in Roubaix by https://ovhcloud.com,
</footer></body></html>