<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8"><title>Daily Excuse</title>
    <meta name="description" content="Today's excuse to not attend the daily meeting">
    <meta name="keywords" content="daily,meeting,excuse,daily meeting">
    <meta name="author" content="Jean-Francois Smigielski">
    <meta name="theme-color" content="#FFF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="https://excuse.wadef.uk/">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="mask-icon" type="image/png" href="/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@JFSmigielski">
    <meta name="twitter:creator" content="@JFSmigielski">
    <meta property="og:site_name" content="Daily Excuse">
    <meta property="og:title" content="Daily Excuse">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://excuse.wadef.uk/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Today's excuse to not attend the daily meeting">
    <meta property="og:image" content="/favicon.png">
    <meta property="fb:admins" content="jf.smigielski">
    <meta http-equiv="refresh" content="{{.Refresh}}">
    <meta property="daily:seed" content="{{.Seed}}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quicksand">
    <style>
        body { margin: 0; padding: 30px; background-color: #222; }
        main { text-align: center;  margin: 0; padding: 0; }
        h1, h2, a { text-align: center; font-family: 'Quicksand'; font-weight: inherit; margin: 0; padding: 10px; }
        h1 { font-size:7vw; color: steelblue; }
        h2 { font-size:5vw; color: cadetblue; }
        a { text-align: center; width: 100%; font-size:3vw; color: gray; text-decoration: none; position: fixed; bottom: 0; left: 0; margin: auto; }
    </style>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<main>
    <h2>{{.Statement}}</h2>
    <h1>{{.Excuse}}</h1>
    <a href="https://excuse.wadef.uk">excuse.wadef.uk</a>
</main></body></html>
